#page-main-header.page-header.mb-5
    .page-textura
        .container

            .row.align-items-center

                .col-12.col-lg-6

                    h3#curso-titulo-componente.curso-subtitulo Proceso Integral de Dise침o de un Producto
                    h1#curso-titulo-tema.curso-titulo Prototipos y propuestas de dise침o

                    .brand-line-primary

                    .keywords
                        span.badge.badge-pill.badge-light.mr-2 #investigaci칩n
                        span.badge.badge-pill.badge-light.mr-2 #prototipo
                        span.badge.badge-pill.badge-light.mr-2 #dise침o
                        span.badge.badge-pill.badge-light.mr-2 #producto

                    .barra-dots.mt-5
                        img.img-fluid(src='assets/images/header/icon_dots.svg', alt='alt')
                .col-12.col-lg-6
                    .d-none.d-lg-block
                        img(src="assets/images/header/header_media.svg").curso-imagen
