h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas 
                  +navTemaItem('1', 'Técnicas de modelado', 'main.html#page/investigacion-mercados/')
                  +navTemaItem('2', 'Modelos, simuladores y prototipos', 'main.html#page/tipos_investigacion_mercado/')
                  +navTemaItem('3', 'Prototipo', 'main.html#page/especificacion_diseno_producto/')
                  +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')
