.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Proceso Integral de Diseño de un Producto  
            h1.curso-titulo Prototipos y propuestas de diseño

            .brand-line-primary

            p.curso-descripcion El contenido de la presente unidad, permitirá reconocer los aspectos relacionados con la relación entre las organizaciones y los Sistemas de Información, de igual forma sus características más relevantes para su funcionamiento. 
            
            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")