h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 291501019-3
        p.mb-0 Crear la propuesta de diseño, teniendo en cuenta los requerimientos establecidos.


