.container

  ol

    li
      p 
        | Ferrandiz Bou, Santiago (2018).</br>
        i Practica de Prototipos Avanzados. Valencia, España. Editorial de la Universidad Politécnica de Valencia.
    li
      p 
        | Calduch, Juan (2014).</br> 
        i Temas de composición arquitectónica. Tipo, Arquetipo, prototipo, modelo. Alicante, España. Editorial Club Universitario.   

    li
      p 
        | Ulrich, Karl T. (2009).</br> 
        i Diseño y Desarrollo de Productos. Ciudad de Mexico, Mexico. Editorial Mc Graw Hill. 
   

   

    