include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 3. Prototipo

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center 
        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema3/img_00.jpg", alt="").img-fluid
        
        .col
          p El prototipo se entiende como el primer modelo del producto a tamaño real y con los materiales definitivos planteados para su fabricación, que tiene como propósito la validación técnico – constructiva, funcional, ergonómica, de distribución y/o mercado de la propuesta. La fabricación de un prototipo no se hace con los procesos industriales reales con los que realizará la serie, lo que se puede definir a partir de las validaciones que se realicen, incorporando las modificaciones necesarias y revisando la capacidad instalada o el modelo de producción que se adopte, en lo que se conoce como etapa de industrialización del producto. El prototipo es la aproximación más cercana al producto.           

      
    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Concepto de Prototipado          

      .row
        .col-12
          p El prototipado rápido es una tecnología que posibilita producir modelos y prototipos directamente a partir del modelo sólido 3D generado en el sistema CAD. Al contrario de los procesos de fabricación que sacan material de la pieza en bruto para obtener el patrón deseado, los sistemas de prototipado rápido generan la pieza a partir de la unión aditiva de líquidos, capa por capa, a partir de secciones transversales de la pieza obtenidas a partir del modelo 3D, las máquinas producen piezas en plásticos, madera, cerámica o metales. Los datos para las máquinas de prototipado rápido son generados por los sistemas CAD en formato STL, que aproxima el modelo sólido por pequeños triángulos o facetas. Cuanto más pequeños sean estos triángulos, mejor la aproximación de la superficie al coste, naturalmente, de mayor tamaño del archivo STL y de tiempo de procesamiento. Una vez que el archivo STL es generado, las demás operaciones son ejecutadas por el propio programa que acompaña a las máquinas de prototipado rápido. Este programa realizará operaciones básicas de visualización y la generación de secciones transversales del modelo que será construido. Tales datos serán entonces transmitidos a la máquina que irá depositando sucesivas capas hasta que la pieza sea generada. 

      .row.justify-content-center.align-items-center.mt-5 
        .col-sm-12.col-md-6.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema3/img_01.jpg", alt="").img-fluid
        .col-sm-12.col-md-6.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema3/img_02.jpg", alt="").img-fluid

      .row
        .col-12
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-auto
                img(src="assets/images/pages/tema1/icon_01.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
              .col-10
                p.mb-0 #[strong Modelo de Pre – Producción:]  el producto previo a la producción final (artesanal o industrial), que a diferencia del prototipo se hace con los procesos de producción reales y sobre el cual aún es posible realizar validaciones, sobre todo en factores de producción.

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Aplicaciones         

      .row
        .col-12
          p Básicamente las técnicas de prototipado rápido, tienen como objetivo el obtener de manera rápida y exacta una réplica tridimensional de los diseños que han sido generados mediante aplicaciones CAD en 3D. Estos modelos físicos pueden ser únicamente estéticos y útiles en consecuencia para estudio de formas y de la aceptación por el mercado potencial al que van dirigidos o pueden cumplir con algunas o buena parte de los requerimientos mecánicos que tendría la pieza definitiva, ofreciendo en este caso la posibilidad de realizar pruebas funcionales e incluso de homologación antes de que existan ni siquiera los moldes preliminares.

          p La mayor o menor similitud que pudiera existir entre el modelo definitivo y el obtenido mediante las técnicas de prototipaje rápido dependerán básicamente del sistema utilizado para su generación y de limitaciones dimensionales, de complejidad y de post procesos aplicados. 

      .row.justify-content-center.align-items-center.mt-5 
        .col-sm-12.col-md-6.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema3/img_03.jpg", alt="").img-fluid
        .col-sm-12.col-md-6.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema3/img_04.jpg", alt="").img-fluid

      .row
        .col-12
          p Las ventajas que ofrece la utilización sistemática de esta tecnología dentro del proceso global del lanzamiento de un nuevo producto abarcan a casi todos los departamentos que directa o indirectamente están involucrados en él. Sin ánimo de ser exhaustivos, se destacan las siguientes ventajas: 
          ul
            li.mb-3 Disponer de una herramienta de comunicación física que no permite errores. (En este sentido suele recordarse que: de igual forma que una imagen vale más que mil palabras, un prototipo vale más que mil imágenes, planos, croquis o dibujos).
            li.mb-3 Permite realizar determinadas pruebas funcionales, de montajes e interferencias. 
            li.mb-3 Facilita la relación entre clientes y proveedores. 
            li.mb-3 Facilita y en muchos casos estimula el aporte de mejoras ya sea en el diseño y su funcionalidad o en el proceso productivo. 
            li.mb-3 Las técnicas de prototipaje rápido pueden ser aplicadas a las más diversas áreas tales como automoción, aeronáutica, marketing, restauraciones, educación, paleontología y arquitectura.
